html {
  height: 100%;
  font-size: $desktop-font-size;

  @media (max-width: $mobile) {
    font-size: $mobile-font-size;
  }
}

body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: $serif-font-family;
  background-color: $bg-clr;

  * {
    box-sizing: border-box;
  }
}

.main {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  margin-bottom: 12rem;
}

.wrapper {
  width: 100%;
  padding: 4rem;
  margin: 0 auto;
  max-width: 980px;
  @media (max-width: $mobile) {
    padding: 2rem;
  }
}

.site-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.message {
  font-size: 2rem;
  color: rgba($white, 0.6);
  font-family: $sans-serif-font-family;
}

.vivid-clr-1 {
  color: $vivid-clr-1;
}

.vivid-clr-2 {
  color: $vivid-clr-2;
}

