.button-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 120px;
  outline: none;
  border: none;
  border-radius: 40px;
  background-color: rgba($accent-clr, 0.2);
  color: $white;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    background-color: rgba($accent-clr, 0.4);
  }

  &__name {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: $sans-serif-font-family;
  }

  &__loader {
    display: none;
    border: 3px solid transparent; /* change this to change the color of the loader */
    border-top: 3px solid rgba($accent-clr , 0.8); /* change this to change the color of the top part of the loader */
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 1s linear infinite;
  }

  &.is-disabled {
    pointer-events: none;
    width: 48px;
    .button-cta__name {
      display: none;
    }
    .button-cta__loader {
      display: block;
    }
  }

  
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}