$desktop-font-size: 10px;
$mobile-font-size: 7px;

$mobile: 767px;

$sans-serif-font-family: 'Lato', sans-serif;
$serif-font-family: 'Cutive Mono', monospace;

$bg-clr: #323A4F;
$accent-clr: #4b98d2;
$text-clr: #E8EEFB;
$vivid-clr-1: #faef14;
$vivid-clr-2: #c2a638;
$vivid-clr-3: #ef3131;
$vivid-clr-4: #0c0b44;

$white: #ffffff;
$black: #000000;