.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  
  @media (max-width: $mobile) {
    background-color: $bg-clr;
  }

  @media (max-width: $mobile) {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: rgba($black, 0.2);
    }
  }
}
